<html lang="en">
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main">
      {{>header}}
      <p>Created by {{name}}</p>
      <img class="portrait" src="/img/po.png" alt="po" />
    </div>
    {{>footer}}
  </body>
</html>