{{! hbs - handlebars, is not static as html, can use this instead of index.html }}

<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <img src="/img/po.png" alt="po" />
    <p>Created by {{name}}</p>
  </body>
</html>